<!DOCTYPE html>
<html>
  <head>
    <title>PortfolioApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'partials/navbar' %>
      <% if notice.present?  %>
        <div class="mx-auto max-w-md text-center">
          <p class="notice p-4 text-green-500"><%= notice %></p>
        </div>
      <% end %>
      <% if alert.present? %>
        <div class="mx-auto max-w-md text-center">
          <p class="alert p-4 text-red-500"><%= alert %></p>
        </div>
      <% end %>
    </div>
    <main class="container mx-auto mt-10 px-5 flex items-center justify-center">
      <%= yield %>
    </main>
  </body>
</html>
